wp-admin/
wp-includes
wp-content/themes/ghbranding/node_modules
*.Identifier
wp-content/ai1wm-backups
wp-content/languages/
index.php
license.txt
readme.html
wp-activate.php
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php
wp-content/index.php
wp-content/uploads
wp-content/themes/ghbranding/dist/css/
wp-content/themes/ghbranding/dist/js/
wp-content/themes/ghbranding/readme.txt
wp-content/plugins/
wp-content/themes/ghbranding/package-lock.json
