@import "./variables.scss";
@import "./mixins.scss";

%icons {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

%like-button{
  &::after{     
    right: 10px;     
    width: 1.5rem;
    height: 1.5rem;
    transform: translateY(0.625rem);  
    @extend %icons;  
  }
}