@import "./variables.scss";
@import "./mixins.scss";

%icons {
  content: "";
  position: absolute;
  top: 0;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
